{% load static %}

<!-- https://docs.djangoproject.com/en/4.2/ref/templates/builtins/ | django template syntax-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>COBA Login</title>
		<link
			rel="stylesheet"
			href='{% static "/ashkan/css/base.css" %}'
		/>
		<script src="{% static '/ashkan/js/utils.js' %}"></script>
	</head>
	<body>
		<div class="page-title">
			<h1>TACC Lab Login</h1>
		</div>
		<div class="flex-container">
			<div class="card">
				<form
					action='{% url "ashkanHandleCheckin" %}'
					method="post"
				>
					{% csrf_token %}
					<h4>Swipe Card<br />or<br />Sign In Manually</h4>
					<select name="name" id="name">
						<option value="default" selected>
							Choose Name
						</option>
						{% for name in names %}
						<option value="{{ name }}">{{ name }}</option>
						{% endfor %}
					</select>
					<input
						type="number"
						name="ID"
						id="ID"
						placeholder="ID"
					/>
					<p id="current-time"></p>
					<button type="submit">Submit</button>
				</form>
			</div>
		</div>
		<script>
			timeDisplay = document.getElementById("current-time");
			setInterval(() => {
				timeDisplay.textContent = getTime();
			}, 1000);
		</script>
	</body>
</html>
