{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>COBA Login</title>
		<link rel="stylesheet" href='{% static "/ashkan/css/base.css" %}' />
		<script src="{% static '/ashkan/js/utils.js' %}"></script>
	</head>
	<body>
		<div class="page-title">
			<h1>TACC Lab Login</h1>
		</div>
		<div class="flex-container">
			<div class="card">
				{% if signedIn %}
				<h3>Welcome, {{name}}</h3>
				{% else %}
				<h3>Goodbye, {{name}}</h3>
				{% endif %}
				<p>Page will redirect in <span id="secsDisplay"></span> second(s)</p>
			</div>
		</div>
		<script>
			const delay = 5;
			delayedRedirectHome(delay);

			// update redirect seconds remaining
			const secsDisplay = document.getElementById("secsDisplay");
			let secsLeft = delay - 1;
			setInterval(() => {
				secsDisplay.textContent = secsLeft;
				console.log(secsLeft);
				secsLeft -= 1;
			}, 1000);
		</script>
	</body>
</html>
