<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COBA-{{status_code}}</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body {
          background-color:black;
          background-image: url('https://http.cat/{{status_code}}.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center; 
        }
    </style> 
  </head>
  <body>
	<script src="index.js"></script>
  </body>
</html>